.sidebar-div {
  height: calc(100vh - 75px);
  top: 0;
  left: 0;
  width: 300px;
  padding: 25px 15px 25px 15px;
  transition: width 500ms ease;
}

.sidebar-div[navBarShown="true"] {
  width: 300px;
}

.sidebar-div[navBarShown="false"] {
  width: 90px;
}

.sidebar-div[theme="dark"] {
  background-color: var(--dark-mode-dark-secondary);
  color: var(--dark-mode-white-font);
}

.sidebar-div[theme="light"] {
  background-color: var(--light-mode-white-secondary);
  color: var(--light-mode-dark-font);
}

.nav-option-ul {
  padding: 0;
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-option-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 55px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  font-size: 1.5rem;
  font-weight: 111;
  cursor: pointer;
}

.nav-option-li[theme="dark"] {
  color: var(--dark-mode-white-font);
}

.nav-option-li[theme="light"] {
  color: var(--light-mode-dark-font);
}

.nav-option-name {
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 130px;
}

.nav-option-name[navBarShown="false"],
.dropdown-div[navBarShown="false"],
.switch[navBarShown="false"] {
  display: none;
}

.nav-option-name[navBarShown="true"],
.dropdown-div[navBarShown="true"],
.switch[navBarShown="true"] {
  display: flex;
}

.nav-option-li[theme="dark"]:hover {
  background-color: var(--neon-blue);
  transition: background-color 250ms ease;
}

.nav-option-li[theme="light"]:hover {
  background-color: var(--light-mode-white-tertiary);
  transition: background-color 250ms ease;
}

.nav-option-div {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 111;
  cursor: pointer;
  margin-left: 0;
}

.nav-option-img-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 55x;
}

.nav-option-img-div img {
  height: 32px;
  width: 32px;
  line-height: 50px;
}

.github-img[theme="dark"] {
  content: url("https://img.icons8.com/material-outlined/24/ffffff/github.png");
}

.github-img[theme="light"] {
  content: url("https://img.icons8.com/material-outlined/24/000000/github.png");
}

.theme-img[theme="dark"] {
  content: url("https://img.icons8.com/ios-glyphs/30/ffffff/sun--v1.png");
}

.theme-img[theme="light"] {
  content: url("https://img.icons8.com/ios-glyphs/30/000000/sun--v1.png");
}

.lang-img[theme="dark"] {
  content: url("https://img.icons8.com/material-rounded/48/ffffff/language.png");
}

.lang-img[theme="light"] {
  content: url("https://img.icons8.com/material-rounded/48/000000/language.png");
}

.github-link-a,
.github-link-a:hover,
.github-link-a:visited,
.github-link-a:active {
  color: inherit;
  text-decoration: none;
}

.theme-switch-div {
  position: relative;
  width: 50px;
  margin-right: 25px;
}
