/* under page-left-div */
.sidebar-div {
  height: 100%;
  top: 0;
  left: 0;
  width: 90px;
  padding: 25px 25px;
  transition: width 500ms ease;
}

.sidebar-div[theme="dark"] {
  background-color: var(--dark-mode-dark-secondary);
  color: var(--dark-mode-white-font);
}

.sidebar-div[theme="light"] {
  background-color: var(--light-mode-white-secondary);
  color: var(--light-mode-dark-font);
}

/* under sidebar-div */
.logo-content-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar-div ul {
  margin-top: 20px;
  padding: 0;
  overflow: visible;
  opacity: 0;
  height: 0;
}

.sidebar-div ul[navBarShown="false"] {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
  transition-delay: 350ms;
}

.sidebar-div ul[navBarShown="true"] {
}

.sidebar-div ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar-div ul li .sidebar-option-a[theme="dark"]:hover {
  background-color: var(--neon-blue);
  transition: background-color 250ms ease;
}

.sidebar-div ul li .sidebar-option-a[theme="light"]:hover {
  background-color: var(--light-mode-white-tertiary);
  transition: background-color 250ms ease;
}

.sidebar-div ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 111;
  cursor: pointer;
}

.sidebar-div ul li .sidebar-option-a[navBarShown="true"] {
  display: none;
}

.sidebar-div ul li .sidebar-option-a[theme="dark"] {
  color: var(--dark-mode-white-font);
}

.sidebar-div ul li .sidebar-option-a[theme="light"] {
  color: var(--light-mode-dark-font);
}

.sidebar-div ul li .sidebar-option-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 111;
  cursor: pointer;
}

.sidebar-div ul li .sidebar-option-a .nav-option-div {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 111;
  cursor: pointer;
}
.sidebar-div ul li .sidebar-option-a img {
  height: 32px;
  width: 32px;
  margin: 12px;
  line-height: 50px;
}
.sidebar-div ul li .github_img[theme="dark"] {
  content: url("https://img.icons8.com/material-outlined/24/ffffff/github.png");
}

.sidebar-div ul li .github_img[theme="light"] {
  content: url("https://img.icons8.com/material-outlined/24/000000/github.png");
}

.sidebar-div ul li .theme-img[theme="dark"] {
  content: url("https://img.icons8.com/ios-glyphs/30/ffffff/sun--v1.png");
}

.sidebar-div ul li .theme-img[theme="light"] {
  content: url("https://img.icons8.com/ios-glyphs/30/000000/sun--v1.png");
}

.sidebar-div ul li .lang-img[theme="dark"] {
  content: url("https://img.icons8.com/material-rounded/48/ffffff/language.png");
}

.sidebar-div ul li .lang-img[theme="light"] {
  content: url("https://img.icons8.com/material-rounded/48/000000/language.png");
}

.profile-div {
  position: absolute;
  margin: 2px;
  bottom: 0;
}

/* under logo-content-div */
.logo-img-div {
  display: none;
  align-items: center;
  margin-left: 3.5rem;
}

.logo-name-div {
  display: none;
  font-size: 30px;
  font-weight: 300;
  flex-grow: 1;
}

.menu-img-div {
  display: flex;
  align-items: center;
}

/* under logo-img-div */
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.logo-img[theme="dark"] {
  content: url("https://img.icons8.com/material-rounded/24/ffffff/flag.png");
}

.logo-img[theme="light"] {
  content: url("https://img.icons8.com/material-rounded/24/000000/flag.png");
}

/* under menu-img-div */
.menu-img {
  width: 30px;
  height: 30px;
}

.menu-img[theme="dark"] {
  content: url("https://img.icons8.com/material-outlined/24/ffffff/menu--v1.png");
}

.menu-img[theme="light"] {
  content: url("https://img.icons8.com/material-outlined/24/000000/menu--v1.png");
}
