.sort-option-div {
  display: flex;
  flex-direction: row;
  cursor: grab;
  border-radius: 5px;
  margin-bottom: 1px;
  min-width: 240px;
  height: 40px;
}

.sort-option-div[theme="light"] {
  border-top: 1px solid rgba(242, 242, 242, 1);
  border-left: 1px solid rgba(242, 242, 242, 1);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.sort-option-div[theme="dark"] {
  border-right: 1px solid rgba(242, 242, 242, 0.6);
  border-bottom: 1px solid rgba(242, 242, 242, 0.6);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.sort-option-numbering-div {
  display: flex;
  flex-direction: row;
  font-size: 23px;
  width: 100%;
  flex-basis: calc(20% - 10px);
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
}

.sort-numbering {
  margin-right: 10px;
}

.sort-option-img-div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.sort-option-img {
  margin-right: 10px;
  margin-left: 6px;
}

.sort-option-img[theme="light"] {
  content: url("https://img.icons8.com/windows/32/000000/move-grabber.png");
}

.sort-option-img[theme="dark"] {
  content: url("https://img.icons8.com/windows/32/ffffff/move-grabber.png");
}

.sort-ordering-div {
  position: relative;
  height: 25px;
}

.sort-option-div {
  position: relative;
}

.sort-ordering-container-div {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 10px;
  top: -0px;
  width: 55px;
  border-radius: 5px;
}

.sort-ordering-container-div[theme="light"] {
  border-top: 1px solid rgba(242, 242, 242, 1);
  border-left: 1px solid rgba(242, 242, 242, 1);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}

.sort-ordering-container-div[theme="dark"] {
  border-right: 1px solid rgba(242, 242, 242, 0.6);
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.sort-ascending-img,
.sort-descending-img {
  cursor: pointer;
}

.sort-ascending-img[ascending="true"][theme="light"] {
  filter: invert(43%) sepia(72%) saturate(2066%) hue-rotate(201deg)
    brightness(102%) contrast(101%);
}

.sort-ascending-img[ascending="false"][theme="light"] {
  filter: invert(91%) sepia(0%) saturate(93%) hue-rotate(167deg) brightness(97%)
    contrast(86%);
}

.sort-descending-img[ascending="false"][theme="light"] {
  filter: invert(43%) sepia(72%) saturate(2066%) hue-rotate(201deg)
    brightness(102%) contrast(101%);
}

.sort-descending-img[ascending="true"][theme="light"] {
  filter: invert(91%) sepia(0%) saturate(93%) hue-rotate(167deg) brightness(97%)
    contrast(86%);
}

.sort-ascending-img[ascending="true"][theme="dark"] {
  filter: invert(43%) sepia(72%) saturate(2066%) hue-rotate(201deg)
    brightness(102%) contrast(101%);
}

.sort-ascending-img[ascending="false"][theme="dark"] {
  filter: invert(95%) sepia(8%) saturate(16%) hue-rotate(314deg) brightness(95%)
    contrast(81%);
}

.sort-descending-img[ascending="false"][theme="dark"] {
  filter: invert(43%) sepia(72%) saturate(2066%) hue-rotate(201deg)
    brightness(102%) contrast(101%);
}

.sort-descending-img[ascending="true"][theme="dark"] {
  filter: invert(95%) sepia(8%) saturate(16%) hue-rotate(314deg) brightness(95%)
    contrast(81%);
}
