:root {
  --tab-bar-sort: scaleX(0);
  --tab-bar-filter: scaleX(0);
  --tab-bar-search: scaleX(0);
  --tab-bar-favourite: scaleX(0);
}

.tab-content-table {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0;
}

.tab-content-item {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.tab-content-item[theme="light"] {
  filter: invert(90%) sepia(0%) saturate(4%) hue-rotate(149deg) brightness(93%)
    contrast(89%);
}

.tab-content-item[theme="dark"] {
  color: black;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(26deg)
    brightness(102%) contrast(104%);
}

.sort-li::after,
.filter-li::after,
.search-li::after,
.favourite-li::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: -5px;
  width: 100%;
  background: var(--neon-blue);
  transform: scaleX(0);
  transition: transform 500ms ease;
}

.sort-li[tabOpened="sort"]::after,
.filter-li[tabOpened="filter"]::after,
.search-li[tabOpened="search"]::after,
.favourite-li[tabOpened="favourite"]::after {
  transform: scaleX(1);
}

.sort-li[tabOpened="sort"],
.filter-li[tabOpened="filter"],
.search-li[tabOpened="search"],
.favourite-li[tabOpened="favourite"] {
  filter: invert(43%) sepia(72%) saturate(2066%) hue-rotate(201deg)
    brightness(102%) contrast(101%);
}

.sort-div {
  display: none;
  height: 0px;
  margin-top: 10px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-div {
  display: none;
  height: 0px;
  margin-top: 10px;
  border: 2px solid red;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-div {
  display: none;
  height: 0px;
  margin-top: 10px;
  border: 2px solid blue;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.favourite-div {
  display: none;
  height: 0px;
  margin-top: 10px;
  border: 2px solid green;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filter-div[tabOpened="filter"],
.search-div[tabOpened="search"],
.favourite-div[tabOpened="favourite"] {
  display: block;
  height: 100px;
}

.sort-div[tabOpened="sort"] {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.search-input {
  color: #222;
  font-size: 20px;
  line-height: 28px;
  width: 50%;
  padding: 8px 16px;
  max-height: 54px;
  border-radius: 4px;
  margin: 10px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 2px black;
  transition: width 500ms ease-in-out, visibility 450ms ease;
}

.search-input[theme="dark"] {
  background-color: var(--dark-mode-dark-quaternary);
  color: var(--dark-mode-white-font);
}

.search-input[theme="dark"]::placeholder {
  color: var(--dark-mode-white-font);
  opacity: 0.5;
}

.search-input[theme="light"] {
  box-shadow: 1px 1px 1px var(--light-mode-dark-font);
}
