:root {
  --dark-mode-dark-primary: #15232d;
  --dark-mode-dark-secondary: #193549;
  --dark-mode-dark-tertiary: #20435c;
  --dark-mode-dark-quaternary: #193b59;
  --dark-mode-white-font: hsl(0, 0%, 100%);

  --light-mode-white-primary: #ffffff;
  --light-mode-white-secondary: #f3f3f3;
  --light-mode-white-tertiary: #ececec;
  --light-mode-white-quaternary: #ccc;
  --light-mode-dark-font: #1c1c1c;

  --neon-blue: #5469d4;
  --light-blue: #428bff;
  --logo-green: RGB(92, 178, 146);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

body {
  display: grid;
  padding: 0;
  margin: 0;
}

.page-root-div {
  display: flex;
  flex-direction: column;
}

.main-content-div {
  display: flex;
  position: relative;
  flex-direction: row;
}

/* under page-root-div */
.page-left-div {
  height: 100vh;
  position: sticky;
  top: 75px;
  overflow: visible;
  z-index: 2;
}

.page-left-div[theme="light"] {
  background: var(--light-mode-white-primary);
  color: var(--light-mode-dark-font);
}

.page-left-div[theme="dark"] {
  background: var(--dark-mode-dark-primary);
  color: var(--dark-mode-white-font);
}

.page-right-div {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  margin-top: 10px;
}

.page-right-div[theme="light"] {
  background: var(--light-mode-white-primary);
  color: var(--light-mode-dark-font);
}

.page-right-div[theme="dark"] {
  background: var(--dark-mode-dark-primary);
  color: var(--dark-mode-white-font);
}

.bottom-div {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  flex-grow: 1000;
}

.theme-btn-div {
}
/* under theme-btn-div */
.theme-btn {
}

/* under bottom-div */
