:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-800: #333333;
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: #5469d4;
}

* {
  box-sizing: border-box;
  color: var(--clr-neutral-100);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  line-height: 1.6;
  font-family: sans-serif;
  background: var(--clr-neutral-900);
  color: #222;
}

.page-root {
  display: flex;
  flex-direction: column;
}

/* under page-root */
.top {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
}

.bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
  flex-grow: 1;
}

/* under top */
.title {
  flex-grow: 100;
  align-items: left;
  align-content: left;
}

.clock {
  flex-grow: 1;
  align-items: right;
}

/* under bottom */
.button {
}

.searching {
}

.countries-list {
  margin: 1rem auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* under button */
.btn {
  border: 1px solid var(--clr-accent-400);
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Ubuntu";
  cursor: pointer;
  margin: 10px;
  color: var(--clr-accent-10);
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  color: var(--clr-accent-400);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0 0 50% 50%;
  width: 100%;
  height: 100%;
  background: var(--clr-accent-400);
  z-index: -1;
  transition: 0.8s;
  height: 180%;
}

.btn:hover::before {
  height: 0%;
}

/* under searching */
.search {
  color: #222;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 60%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

/* under countries-list */
.country {
  background: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
  border-radius: 2rem;
  margin: 20px 3rem 20px 3rem;
  height: 300px;
  justify-content: center;
  padding: 1rem 2.5rem;
  max-width: 45ch;
  overflow: hidden;
  transition: transform 500ms ease, height 500ms ease;
}

.country:hover {
  cursor: pointer;
  height: 400px;
  transform: scale(1.05);
  transition: height 500ms ease;
}

/* under country */
.country-content {
  text-align: center;
  transform: translateY(4%);
  transition: transform 500ms ease;
}

.country:hover .country-content {
  transform: translateY(-41%);
}

/* under country-content */
.country-flag {
  margin: 2rem;
  display: block;
  width: 250px;
  height: 150px;
  align-items: center;
}

.country-title {
  position: relative;
  max-width: 100%;
}

.country-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--clr-accent-400);
  transform: scaleX(0);
  transition: transform 500ms ease;
}

.country:hover .country-title::after {
  transform: scaleX(1);
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.5ch;
  min-width: 300px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #5469d4;
}

.content-table thead tr {
  background-color: #5469d4;
  color: #ffffff;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #a9a9a9;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--clr-neutral-900);
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #5469d4;
}
